.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divLogo {
    display: flex;
    justify-content: center;
}
.oeLogo {
    margin: 20px;
    width: 60%;
}

.divEvolua {
    margin: 20px;
    width: 345px;
}

.h1 {
    color: #00C19C;
}

.span {
    color: white;
    font-size: 20px;
}
.strong {
    color: white;
    font-size: 20px;
}



@media (min-width: 666px) {

    .oeLogo {
        width: 399.59px;
        height: 399.59px;
    } 
}

@media (min-width: 900px) {

    .intro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .divEvolua {
        width: 1000px;
        height: 300px;
    }

    .h1 {
        font-size: 50px;
    }
    
    .span, .strong {
        font-size: 26px;
    }
}

@media (min-width: 1766px) {
    .cards {
        margin-left: auto;
        margin-right: auto;
        max-width: 1766px ;
    }
}
