.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: auto;
  padding: 15px;
  height: 100%;
  min-height: 700px;
}

.span {
  color: #ffffff;
  font-size: 20px;
  font-weight: bolder;
}

.strong {
  color: #00c19c;
  font-size: 32px;
  margin-top: 0px;
}

.h4 {
  margin: 0;
  color: #fff;
}

/* @media (min-width: 350px) {
  .container {
    height: 60vh;
  }
}

@media (min-width: 650px) {
  .container {
    height: 40vh;
  }
}

@media (min-width: 900px) {
  .container {
    height: 70vh;
  }
} */
