.cardStyle {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (min-width: 900px)  {
    
    .cardStyle {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 15px;
        justify-content: flex-start;
    }

}