.container {
    width: 100%;
}

.cp {
    display: flex;
    justify-content: center;
}
.cf {
    display: flex;
    justify-content: flex-start;
    max-width: 1440px;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.divLogo {
    display: flex;
    justify-content: center;
}
.oeLogo {
    margin: 20px;
    width: 60%;
}

.divEvolua {
    margin: 20px;
    width: 345px;
}

.h1 {
    color: #00C19C;
}

.span {
    color: white;
    font-size: 20px;
}
.strong {
    color: white;
    font-size: 20px;
}
.introButton {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.wp {
    background-color: #101E2F;
    padding: 20px 0 40px 0;
}

.whatis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1s {
    display: flex;
    color: #F82B87;
    text-align: center;
}

.h2s {
    color: white;
    font-size: 30px;

}

.whatisDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whatisImg {
    width: 100%;
    max-width: 600px;
}

.whatisText {
    width: 100%;
    max-width: 600px;
}

li {
    font-size: 17px;
    color: white;
    margin: 24px;
}

.transition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span2 {
    text-align: center;
    font-size: 32px;
    color: white;
    margin: 0 50px;
}

h1 {
    text-align: center;
    color: #871CD3;
}

.cp {
    margin-top: 10px;
}

.h1f {
    color: #00C19C;
    
}

.apoiadores {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
    transition: all .4s;
}



.alura, .fcamara, .cubos, .rocket {
    height: 60px;
    margin: 30px;
    transition: all .4s;
    filter: invert(0);
}

.alura:hover, .fcamara:hover, .cubos:hover, .rocket:hover {
    filter: invert(1)
}

@media (min-width: 666px) {

    .oeLogo {
        width: 324px;
        height: 324px;
    } 
}

@media (min-width: 900px) {

    .intro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .divEvolua {
        width: 700px;
    }

    .h1 {
        font-size: 50px;
    }
    
    .span, .strong {
        font-size: 26px;
    }

    .introButton {
        display: flex;
        justify-content: flex-start;
    }

    .whatisDetails {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .whatisText {
        font-size: 25px;

    }

    li {
        font-size: 25px;
        margin: 40px
    }
    
}

@media (min-width: 1440) {
    .cp {
        width: 1440px;
    }
}
